<header>
    <nav>
        <a href="{% url 'productproject:home' %}">Главная</a>
        <a href="{% url 'productproject:about' %}">О компании</a>
        <a href="{% url 'productproject:plate_list' %}">Товары</a>
        <a href="{% url 'productproject:artist_list' %}">Исполнители</a>
        <a href="{% url 'productproject:label_list' %}">Лейблы</a>
        <a href="{% url 'productproject:category_list' %}">Категории</a>
        <a href="{% url 'productproject:collection_list' %}">Коллекции</a>
        <a href="{% url 'productproject:cart' %}">Корзина</a>
    </nav>
</header>